div.whitepaper {
    color: red;
    margin-bottom: 15px;
}

.fa, .fab, .fal, .far, .fas {
    margin-right: 5px;
    text-decoration: none;
    opacity: 0.6;
}

.fa:hover, .fab:hover, .fal:hover, .far:hover, .fas:hover {
    opacity: 1;
}