<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="no-js" data-ffo-opensans="false" data-ffo-zillaslab="false">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Rawbot</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
    <link rel="canonical" href="http://rawbot.org   "/>
    <meta property="og:site_name" content="Rawbot"/>
    <meta property="og:title" content="rawbot.org"/>
    <meta property="og:url" content="http://rawbot.org"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description"
          content="Rawbot is a framework, more precisely a collection of configurations/scripts/hacks with an underlying currency named RAW with the purpose of facilitating the implementation of payment gateways."/>
    <meta property="og:image" content="http://rawbot.org/img/thumb.png"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="600"/>
    <meta itemprop="name" content="rawbot.org"/>
    <meta itemprop="url" content="http://rawbot.org"/>
    <meta itemprop="description"
          content="Rawbot is a framework, more precisely a collection of configurations/scripts/hacks with an underlying currency named RAW with the purpose of facilitating the implementation of payment gateways."/>
    <meta itemprop="thumbnailUrl" content="http://rawbot.org/img/thumb.png"/>
    <link rel="image_src" href="http://rawbot.org/img/thumb.png"/>
    <meta itemprop="image" content="http://rawbot.org/img/thumb.png"/>
    <meta name="twitter:title" content="rawbot.org"/>
    <meta name="twitter:image" content="http://rawbot.org/img/thumb.png"/>
    <meta name="twitter:url" content="http://rawbot.org"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description"
          content="Rawbot is a framework, more precisely a collection of configurations/scripts/hacks with an underlying currency named RAW with the purpose of facilitating the implementation of payment gateways."/>
    <meta name="description"
          content="Rawbot is a framework, more precisely a collection of configurations/scripts/hacks with an underlying currency named RAW with the purpose of facilitating the implementation of payment gateways."/>

    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Oswald:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./stylesheets/styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" src="./javascripts/currencies/eth.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script type="text/javascript" src="./javascripts/engine.js"></script>
    <script type="text/javascript" src="./javascripts/main.js"></script>
    <link rel="stylesheet" href="./stylesheets/magic.min.css">
    <script type="text/javascript" src="./javascripts/design.js"></script>
    <link rel="stylesheet" href="./stylesheets/custom.css" type="text/css"/>
</head>
<body>
<div class="currencies">
    <div class="eth" id="ethDiv">
        <img src="./img/Rawbot Logo-05.png" id="rawbot_logo"/>
        <div class="text">
            <span class="stats"></span>

            <a href="https://ethereum.org/" target="_blank" class="label">Ethereum</a>
            <span class="price"></span>
            <span class="inspiration">Powered by Rawbot Inc.</span>
        </div>
    </div>
</div>
<div class="marketcap">
    <div class="whitepaper">
        <a href="./rawbot_whitepaper.pdf" target="_blank">Whitepaper</a>
    </div>
    <div class="social_media_icons">
        <i class='fab fa-ethereum'></i> <i class='fab fa-facebook-f'></i> <i
                class='fab fa-twitter'></i> <i class='fab fa-reddit-alien'></i> <i class='fab fa-slack'></i>
    </div>
</div>
</body>
</html>
